@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
}

header {
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
}

header .menu_side, .song_side {
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

header .song_side {
    width: 75%;
    background: #0b1320;
}

header .master_play {
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
}

header .menu_side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu_side .playlist {
    margin: 40px 0px 0px 20px;
}

header .menu_side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu_side .playlist h4:hover {
    color: #fff;
}

header .menu_side .playlist h4 span {
    position: relative;
    margin-right: 35px;
}